:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 98vh;
    height: 100%;
}

.attribution {
    font-size: 11px; text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.container {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 920px;
}

.card {
    flex-flow: column;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
}

.orange {
    background-color: var(--bright-orange);
}

.cyan {
    background-color: var(--dark-cyan);
}

.dark-cyan {
    background-color: var(--very-dark-cyan);
}

.card .button-container {
    align-items: baseline;
}

.btn {
    border: transparent;
    width: 150px;
    border-radius: 25px;
    font-family: "Lexend Deca", serif;
    font-weight: 400;
    background-color: var(--transparent-white);
    padding: 5px 15px 5px 15px;
    text-decoration: none;
}

.cyan .btn {
    color: var(--dark-cyan);
}

.orange .btn {
    color: var(--bright-orange);
}

.dark-cyan .btn {
    color: var(--very-dark-cyan);
}

.title-container {
    text-transform: uppercase;
    font-family: "Big Shoulders Display", serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--transparent-white);
}

.text-container {
    font-family: "Lexend Deca", serif;
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--transparent-white);
    line-height: 1.8;
    width: 80%;
    margin-bottom: 70px;
}

@media (max-width: 1024px) {
    .container {
        flex-flow: column;
        flex-direction: column;
        width: 400px;
    }
}